<nav class="navbar navbar-expand-lg navbar-dark bg-gold">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('homepage')}}">SymBnB !</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" 
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('homepage')}}">Acceuil
                        {#<span class="visually-hidden">(current)</span>#}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('ads_index')}}">Annonces</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" 
                            aria-haspopup="true" aria-expanded="false">
                            <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar de 
                                {{ app.user.fullName }}"> {{ app.user.fullName }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('ads_create')}}">
                                <i class="far fa-calendar-plus"></i> Crée une annonce
                            </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('account_index')}}">
                                <i class="far fa-user"></i> Mon Compte
                            </a>
                            <a class="dropdown-item" href="{{path('account_bookings')}}">
                                <i class="far fa-calendar-alt"></i> Mes réservations
                            </a>
                            <a class="dropdown-item" href="{{path('account_profile')}}">
                                <i class="far fa-address-card"></i> Modifier profil
                            </a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('account_logout')}}">
                                <i class="fas fa-sign-out-alt"></i> Déconnexion
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{path('account_register')}}" class="nav-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('account_login')}}" class="nav-link">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }} mt-4 text-center">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}